name: Deploy every 4 hours

on:
  schedule:
    - cron: "0 */4 * * *" # toutes les 4 heures
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 240 # 4 heures max pour le job

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Start app (max 4h)
        run: timeout 4h npm start
